body {
    background-color: #ff8f48;
    font-family: monospace;
}
h1 {
    text-align: center;
    border: 2px dotted black;
    background-color: #dddddd;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px #404040;
    margin: 30px 3px;
}
.navigation {
    background-color: rgb(100, 150, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px gray;
    padding: 5px;
    margin: 2px;
}
.hide {
    background-color: #ff8f48;
    color: #ff8f48;
}
.avertissement {
    color: red;
    text-decoration: underline;
}
.a-non-souligne {
    text-decoration: none;
}
a {
    color: #123456
}