body {
    background-color: #ff8f48;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
p {
    font-size: 1.5vmax;
    margin: 1vw;
}
h1 {
    text-align: center;
    border: 2px dotted black;
    background-color: #dddddd;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px #404040;
    margin: 30px 1vw;
    position: relative;
    top: 35px;
    font-size: 4vw;
    width: 96vw;
}
.navigation {
    background-color: rgba(100, 150, 255, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px gray;
    padding: 5px;
    margin: 2px;
    z-index: 10;
    font-size: 2vw;
} /* Pour chaque bouton de navigation individuellement */
.nav-f {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
} /* Ensemble des boutons de navigation */
.hide {
    background-color: #ff8f48;
    color: #ff8f48;
}
.avertissement {
    color: red;
    text-decoration: underline;
}
.a-non-souligne {
    text-decoration: none;
}
a, .username {
    color: #123456
}
.img-intro {
    /* width: 60%;
    height: auto; */
    margin: 5px 100vmax 0 100vmax;
    border-radius: 20px;
}
img {
    max-width: 90vmin;
    height: auto;
}
.no-navigation {
    position: static;
}
@media (min-width: 1100px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }
}